/* ---- Global Styles ---- */
:root {
    /* font-sizes */
    --14px: 0.875rem;
    --15px: 0.9375rem;
    --16px: 1rem;
    --17px: 1.0625rem;
    --18px: 1.125rem;
    --19px: 1.1875rem;
    --20px: 1.25rem;
    --21px: 1.3125rem;
    
    /* colours */
    --white: hsl(165, 40%, 98%);
    --grey: hsl(210, 5%, 92%);
    --dark-grey: hsl(191, 5%, 47%);
    --teal: hsl(169, 55%, 41%);
    --light-green: hsl(164, 12%, 42%);
    --dark-green: hsl(163, 51%, 15%);
    --navy: hsl(199, 31%, 14%);
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    color: var(--dark-green);
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* ---- Header ---- */
nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nav__menu {
    padding: 0;
}
.nav__item {
    font-size: var(--14px);
    font-weight: 600;
    color: var(--dark-green);
    list-style-type: none;
    display: inline-block;
    margin: 10px;
}
.nav__logo {
    width: 100px;
}
.nav__logo, .nav__button {
    margin: 20px;
}
.nav__item > a {
    text-decoration: none;
    font-size: var(--14px);
    color: var(--dark-green);
}

/* ---- Button ---- */
.button {
    text-decoration: none;
    font-size: var(--14px);
    font-weight: 600;
    color: var(--white);
    background: var(--teal);
    border-radius: 5px;
    padding: 12px;
}

/* ---- Hero ---- */
.hero-image {
    height: 100vh;
    width: 100vw;
    position: relative;
    background-image: url(./assets/hero.jpg);
    background-size: cover;
    background-position: 50% 50%;
}
.hero-image__overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    font-size: var(--21px);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* ---- Blocks ---- */
.top-container, .bottom-container {
    display: flex;
    margin: 50px;
    padding: 25px;
}
.top-container__text, .top-container__image {
    width: 50%;
}
.bottom-container__text, .bottom-container__image {
    width: 50%;
}
.top-container__text {
    margin-right: 50px;
}
.bottom-container__image {
    margin-right: 60px;
}
.top-container__image > img, .bottom-container__image > img {
    border-radius: 5px;
}
.top-container__text > h3, .bottom-container__text > h3 {
    font-size: var(--21px);
    width: 85%;
}
.top-container__text > p, .bottom-container__text > p {
    font-size: var(--14px);
    line-height: 25px;
    width: 85%;
}
.top-container__text > a, .bottom-container__text > a {
    display: inline-block;
    margin-top: 10px;
}

/* ----- CTA banner ---- */
.CTA-wrapper {
    background-color: #e0e1e5;
    /* min-height: 200px;  */
    display: flex;
    margin-right: auto;
    margin-left: auto;
}
.CTA-wrapper__text, .CTA-wrapper__image {
    width: 50%;
}
.CTA-wrapper__text {
    padding: 60px;
}
.CTA-wrapper__text > h4 {
    margin: 0 0 16px 0;
    font-size: var(--21px);
}
.CTA-wrapper__text > p {
    font-size: var(--14px);
    line-height: 25px;
    width: 85%;
}
.CTA-wrapper__text > a {
    display: inline-block;
    margin-top: 10px;
}
.CTA-wrapper__image {
    width: 50%;
}
.CTA-wrapper__image > img {
    height: 100%; 
    width: 100%; 
    object-fit: cover;
}

/* ---- Review ---- */
.review-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0 50px 0;
}
.review-container > h4 {
    font-size: 25px;
}
.review-wrapper {
    box-shadow: 2px 1px 2px 1px var(--grey);
    border-radius: 5px;
    width: 70%;
    display: flex;
}
.review-wrapper__image {
    width: 50%;
}
.review-wrapper__image > img {
    width: 100%;
    height: 100%;
}
.review-wrapper__quote {
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.review-wrapper__quote > p {
    color: var(--dark-green);
}
.review-wrapper__text {
    width: 70%;
    margin: 20px auto;
}
.review-wrapper__author {
    font-weight: 700;
}
.review-wrapper__text {
    font-size: var(--16px);
    font-style: italic;
}
.button__container {
    display: flex;
    margin-top: 20px;
}
.button__container > .button {
    margin: 10px;
}
.button__container--white {
    color: var(--teal);
    border: 2px solid var(--teal);
    background: var(--white);
}
.button__container--white > svg {
    fill: #2fa28d;
}

/* ---- GlassDoor ---- */
.glassdoor {
    background: rgb(250, 249, 249);
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
.glassdoor__quote {
    text-align: center;
}
.glassdoor__text {
    font-size: var(--18px);
    font-style: italic;
}
.glassdoor__author {
    font-size: var(--16px);
}
.glassdoor__role {
    font-size: var(--14px);
}
.glassdoor__wrapper > .button__container {
    justify-content: center;
    align-items: center;
    height: 100%;
}
.button__arrow {
    width: 8px;
    fill: var(--white);
    vertical-align: middle;
    margin-left: 5px;
}

/* ---- Footer ---- */
footer {
    background: var(--grey);
    width: 100%;
}
.footer__wrapper {
    /* border: 2px solid blue; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* section 1 */
/* .footer__brand {
    border: 2px solid lightcoral;
} */
.footer__logo {
    /* border: 2px solid purple; */
    width: 100px;
}
.footer__headline {
    /* border: 2px solid saddlebrown; */
    text-align: left;
    color: var(--navy);
}

/* section 2 */
.footer__links {
    /* border: 2px solid green; */
    display: flex;
}
.footer__list {
    list-style-type: none;
    padding: 0px;
    margin: 16px;
}
.footer__list > li {
    /* border: 2px solid red; */
    margin: 0 0 10px 0;
}
.footer__list > li > a {
    text-decoration: none;
    font-size: var(--14px);
    color: var(--dark-green);
}

/* section 3 */
.footer__text {
    /* border: 2px solid teal; */
    margin: 20px;
    text-align: center;
}

/* section 4 */
.footer__legal {
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
    margin: 20px 0 0 0;
}
.footer__legal  p:last-child, .footer__legal p:first-child {
    margin: 20px 30px 20px 30px;
    text-transform: uppercase;
    font-size: var(--14px);
    font-weight: 600;
    color: var(--dark-grey);
}