html, body {
    margin: 0;
    padding: 0;
    /* scroll-behavior: smooth; */
}

header {
    border: 2px solid red;    
}

nav {
    border: 2px solid blue;
    display: flex;
    align-items: center;
}

.nav__item {
    list-style-type: none;
    display: inline-block;
    border: 2px solid green;
}
.nav__logo {
    border: 2px solid orange;
    margin: px;
}
