/* ---- Global Styles ---- */
:root {
    /* font-sizes */
    --14px: 0.875rem;
    --15px: 0.9375rem;
    --16px: 1rem;
    --17px: 1.0625rem;
    --18px: 1.125rem;
    --19px: 1.1875rem;
    --20px: 1.25rem;
    --21px: 1.3125rem;
    
    /* colours */
    --white: hsl(165, 40%, 98%);
    --grey: hsl(210, 5%, 92%);
    --dark-grey: hsl(191, 5%, 47%);
    --teal: hsl(169, 55%, 41%);
    --light-green: hsl(164, 12%, 42%);
    --dark-green: hsl(163, 51%, 15%);
    --navy: hsl(199, 31%, 14%);
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    color: var(--dark-green);
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* ---- Header ---- */
nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nav__menu {
    padding: 0;
}
.nav__item {
    font-size: var(--14px);
    font-weight: 600;
    color: var(--dark-green);
    list-style-type: none;
    display: inline-block;
    margin: 10px;
}
.nav__logo {
    width: 100px;
}
.nav__logo, .nav__button {
    margin: 20px;
}
.nav__item > a {
    text-decoration: none;
    font-size: var(--14px);
    color: var(--dark-green);
}

/* ---- Button ---- */
.button {
    text-decoration: none;
    font-size: var(--14px);
    font-weight: 600;
    color: var(--white);
    background: var(--teal);
    border-radius: 5px;
    padding: 12px;
}
.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.button span:after {
    content: '\003E';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.button:hover span {
    padding-right: 15px;
}
.button:hover span:after {
    opacity: 1;
    right: 0px;
}

/* ---- Hero ---- */
.hero-image {
    height: 100vh;
    width: 100vw;
    position: relative;
    background-image: url(./assets/hero.jpg);
    background-size: cover;
    background-position: 50% 50%;
}
.hero-image__overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    font-size: var(--21px);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* ---- Blocks ---- */
.top-container, .bottom-container {
    display: flex;
    margin: 50px;
    padding: 25px;
}
.top-container__text, .top-container__image {
    width: 50%;
}
.bottom-container__text, .bottom-container__image {
    width: 50%;
}
.top-container__text {
    margin-right: 50px;
}
.bottom-container__image {
    margin-right: 60px;
}
.top-container__image > img, .bottom-container__image > img {
    border-radius: 5px;
}
.top-container__text > h3, .bottom-container__text > h3 {
    font-size: var(--21px);
    width: 85%;
}
.top-container__text > p, .bottom-container__text > p {
    font-size: var(--14px);
    line-height: 25px;
    width: 85%;
}
.top-container__text > a, .bottom-container__text > a {
    display: inline-block;
    margin-top: 10px;
}

/* ----- CTA banner ---- */
.CTA-wrapper {
    background-color: #e0e1e5;
    display: flex;
    margin-right: auto;
    margin-left: auto;
}
.CTA-wrapper__text, .CTA-wrapper__image {
    width: 50%;
}
.CTA-wrapper__text {
    padding: 60px;
}
.CTA-wrapper__text > h4 {
    margin: 0 0 16px 0;
    font-size: var(--21px);
}
.CTA-wrapper__text > p {
    font-size: var(--14px);
    line-height: 25px;
    width: 85%;
}
.CTA-wrapper__text > a {
    display: inline-block;
    margin-top: 10px;
}
.CTA-wrapper__image {
    width: 50%;
}
.CTA-wrapper__image > img {
    height: 100%; 
    width: 100%; 
    object-fit: cover;
}

/* ---- Review ---- */
.review-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0 50px 0;
}
.review-container > h4 {
    font-size: 25px;
}
.review-wrapper {
    box-shadow: 5px 5px 1px 1px var(--dark-green);
    border-radius: 5px;
    border: 1px solid var(--dark-green);
    width: 70%;
    display: flex;
}
.review-wrapper__image {
    width: 50%;
}
.review-wrapper__image > img {
    width: 100%;
    height: 100%;
}
.review-wrapper__quote {
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.review-wrapper__quote > p {
    color: var(--dark-green);
}
.review-wrapper__text {
    width: 70%;
    margin: 20px auto;
    font-size: var(--16px);
    font-style: italic;
}
.review-wrapper__author {
    font-weight: 700;
}
.button__container {
    display: flex;
    margin-top: 20px;
}
.button__container > .button {
    margin: 10px;
}
.button__container--white {
    color: var(--teal);
    border: 2px solid var(--teal);
    background: var(--white);
}
.button__container--white > svg {
    fill: #2fa28d;
}

/* ---- GlassDoor ---- */
.glassdoor {
    background: rgb(250, 249, 249);
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
.glassdoor__quote {
    text-align: center;
}
.glassdoor__text {
    font-size: var(--18px);
    font-style: italic;
}
.glassdoor__author {
    font-size: var(--16px);
}
.glassdoor__role {
    font-size: var(--14px);
}
.glassdoor__wrapper > .button__container {
    justify-content: center;
    align-items: center;
    height: 100%;
}
.button__arrow {
    width: 8px;
    fill: var(--white);
    vertical-align: middle;
    margin-left: 5px;
}

/* ---- Footer ---- */
footer {
    background: var(--grey);
    width: 100%;
}
.footer__wrapper {
    margin: 0 30px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.footer__wrapper::before {
    content: '';
    background: hsl(0, 0%, 87%);
    position: absolute;
    top: 223px;
    left: 0;
    right: 0;
    border-radius: 50px;
    height: 2px;
}

/* section 1 */
.footer__logo {
    width: 100px;
}
.footer__headline {
    margin-top: 50px;
    text-align: left;
    font-weight: 600;
    font-size: var(--14px);
    color: var(--navy);
}

/* section 2 */
.footer__links {
    display: flex;
}
.footer__list {
    list-style-type: none;
    padding: 0px;
    margin: 16px;
}
.footer__list > li {
    margin: 0 0 10px 0;
}
.footer__list > li > a {
    text-decoration: none;
    font-size: var(--14px);
    color: var(--dark-green);
}

/* section 3 */
.footer__text {
    margin: 20px;
    text-align: center;
}

/* section 4 */
.footer__legal {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 0 0;
}
.footer__legal  p:last-child, .footer__legal p:first-child {
    margin: 20px 30px 20px 30px;
    text-transform: uppercase;
    font-size: var(--14px);
    font-weight: 600;
    color: var(--dark-grey);
}

/* ---- Media Queries ---- */

/* Nav Menu */
input[type=checkbox]{
    display: none;
}
.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}
@media (max-width: 843px) {
    .menu { 
        display:none;
        position: absolute;
        background-color: var(--grey);
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
        width: 100%;
        height: fit-content;
    }
    .menu li:hover {
        display: inline-block;
        background-color:#4c9e9e;
        transition: 0.3s ease;
    }
    .menu li + li {
        margin-top: 12px;
    }
    input[type=checkbox]:checked ~ .menu{
        display: flex;
        flex-direction: column;
        z-index: 999;
    }
    .hamburger {
        display: block;
    }
}

/* Hero */
@media (max-width: 843px) {
    .hero-image__overlay > h1 {
        font-size: var(--21px);
    }
}

/* Blocks 1 & 2 */
@media (max-width: 843px) {
    .top-container, .bottom-container {
        display: flex;
        flex-direction: column;
        text-align: center;
        box-shadow: 5px 5px 1px 1px var(--navy);
        border-radius: 5px;
        border: 1px solid var(--navy);
    }
    .top-container__text, .bottom-container__text  {
        width: 100%;
        margin-right: 0;
    }
    .top-container__text > p, .bottom-container__text > p  {
        width: 100%;
    }
    .top-container__text > h3, .bottom-container__text > h3  {
        text-align: center;
        margin: auto;
        padding: 10px;
    }
    .top-container__image, .bottom-container__image {
        display: none;
    }
}


/* CTA */
@media (max-width: 843px) {
    .CTA-wrapper {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        width: 100vw;
    }
    .CTA-wrapper__text {
        width: 80%;
    }
    .CTA-wrapper__image {
        display: none;
    }
    .CTA-wrapper__text > p {
        width: 100%;
    }
}
/* Review */
@media (max-width: 843px) {
    .review-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: 50%;
    }
    .review-wrapper__image {
        width: 100%;
        object-fit: fill;
        object-position: left left;
    }
    .review-wrapper__text {
        width: 100%;
        margin: 20px auto;
        font-size: var(--14px);
    }
}
/* Footer */
@media (max-width: 843px) {
    .footer__wrapper {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 30px;
    }
    .footer__headline {
        text-align: center;
    }
    .footer__wrapper::before {
        display: none;
    }
    .footer__list {
        margin: 25px;
    }
}